.header-link{
    text-decoration: none;
    color:var(--primary);
    text-transform: uppercase;
    font-size: 200;
    letter-spacing: 0.2rem;
    margin: 0rem 1rem ;
    position: relative;
}
button{
    text-decoration: none;
    color:var(--primary);
    text-transform: uppercase;
    font-size: 200;
    border:none;
    background-color: var(--bgbutton);
}